[submodule "InteractionTrees"]
	path = InteractionTrees
	url = https://github.com/DeepSpec/InteractionTrees
[submodule "paco"]
	path = paco
	url = https://github.com/snu-sf/paco.git
[submodule "fcf"]
	path = fcf
	url = https://github.com/adampetcher/fcf.git
